@import "tailwindcss";

@theme {
  --color-primary: #003E92;
  --color-primary-dark: #002D6B;
  --color-secondary: #FFCC00;
  --color-muted: #666666;
  --color-border: #EEEEEE;
  --font-sans: var(--font-montserrat);
}

html {
  font-size: 70%;
}

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-slate-900;
}